//@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playball|Playfair+Display&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.first-part{
    background-image: linear-gradient(to right bottom, #e1e1e1, #e8e8e8, #f0f0f0, #f7f7f7, #ffffff);
    width: 100vw;
    height: 94vh;
    display: grid;
    grid-template-columns: 41vw 59vw;

    .slide-show-side{
        width: 40vw;
        height: 100%;
        position: relative;
        left: 20px;
        grid-column: 1/2;

        #carouselExampleIndicators img{
            height: 93vh;
            width: auto;
            object-fit: cover;
        }
    }

    .text-side{
        grid-column: 2/3;
        text-align: center;
        position: relative;

        #first-paragraph{
            font-family: 'Playfair Display', serif;
            font-size: 2.6rem;
            font-weight: 600;
            color: #707070;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -30%);
            letter-spacing: 0.3rem;
        }
        #first-paragraph span{
            color: #B92121;
            font-size: 3.6rem;
            border-bottom: 2px solid #B92121;
        }

        #second-paragraph{
            font-family: 'Playball', cursive;
            color: #885050;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
        }
    }
}

.navigation-bar{
    background-color: #F7F7F7;
    width: 100vw;
    height: 60px;
    display: grid;
    grid-template-columns: 40% 60%;
    position: sticky;
    top: 0;
    z-index: 2;
    
    

    .logo-side{
        height: 90%;
        width: 40%;
        position: relative;
        grid-column: 1/2;
        

        #logo{
            font-family: 'Playfair Display', serif;
            font-size: 1.6rem;
            font-weight: 400;
            color: #707070;
            position: absolute;
            padding-top: 7px;
            left: 10%;
            letter-spacing: 0.2rem;
            height: 100%;
            margin: 0;


            span{
                color: #B92121;
                font-size: 1.9rem;
                font-weight: 400;
            }
        }
    }

    .burger-menu-side{
        grid-column: 2/3;
        position: relative;

        .burger-menu{
            position: absolute;
            top: 25%;
            right: 6%;
            cursor: pointer;
            pointer-events: all;

            .burger-menu-lines{
                width: 30px;
                height: 2px;
                background-color: #707070;
                margin-top: 6px;
                transition: all 1s ease;
            }
        }
    }
}

.navigation-bar::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #B92121;
    bottom: 0;
    left: 50%;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.navigation-bar:hover::after{
    left: 0%;
    width: 100%;
}

.second-part{
    width: 100vw;
    min-height: 700px;
    background-color: #F7F7F7;



    .text-paragraph{
        font-family: 'Playball', cursive;
        color: #885050;
        padding: 60px 0px 0px 120px;
    }



    .card-elements{
        display: flex;
        justify-content: space-evenly;
        padding-top: 100px;

        .card-element{
            width: 300px;
            height: 400px;
            background-color: #ffffff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
    
            .card-element-image{
                width: 100%;
                height: 300px;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
            .card-element-title{
                font-family: 'Playball', cursive;
                font-size: 1.2rem;
                color: #885050;
                text-align: center;
    
                h3{
                    padding-top: 35px;
                    transition: all 0.7s ease-in-out 0.2s;
                }
            }

            .card-element-description{
                font-family: 'Playball', cursive;
                background-color: rgba(92, 92, 92, 1);
                text-align: center;
                color: #ffffff;
                height: 400px;
                font-size: 1.2rem;
                opacity: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                pointer-events: none;
                transition: all 0.7s ease-in-out 0.2s;
                
                h4{
                    color: #B92121;
                    padding-top: 10px;
                }
            }
        }

        .card-element:hover {
            .card-element-description{
                opacity: 1;
                transform: translateY(-94%);
            }
            .card-element-title h3{
                transform: translateY(-350%);
            }
        }
    }
}

.third-part{
    background-color: #F7F7F7;
    width: 100vw;
    min-height: 600px;
    display: grid;
    grid-template-columns: 60% 40%;

    .photo-side{
        width: 100%;
        height: auto;

        img{
            width: 90%;
            object-fit: cover;
            margin-left: 20px;
        }
    }

    .text-side-third-part{
        font-family: 'Playball', cursive;
        text-align: center;
        position: relative;

        h2{
            color: #885050;
            font-size: 2.5rem;
            position: absolute;
            top: 20%;
            left: 40%;
            transform: translate(-40%, -20%);
        }

        p{
            color: #7C7C7C;
            font-size: 1.8rem;
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-40%, -50%);
        }
    }
}

footer{
    width: 100vw;
    height: 40px;
    background-color: #ffffff;
    font-family: 'Playball', cursive;
    font-size: 1.3rem;
    text-align: center;
    color: #885050;

    p{
        padding-top: 15px;
    }
}

